<!Doctype>
<html>

<head>
	<title>My Plan Abidjan!</title>


  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no  text/html; charset=UTF-8">
<!-- This is needed for angular ui -->

<script src="javascripts/angular.min.js"></script>
<script src="javascripts/angular-route.min.js"></script>

<!-- This is being used by the carousel-->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/bootstrap.js"></script>

<script src="javascripts/module.js"></script>
<script src="javascripts/controllers/Restaurants.js"></script>
<script src="javascripts/controllers/Magasins.js"></script>
<script src="javascripts/controllers/Funs.js"></script>
<script src="javascripts/controllers/MainController.js"></script>

<!-- load fontawesome -->
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="font-awesome.min.css"> 

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<base href="/">


<style>
body{
background-image:url('../images/back.jpg');
background-size:100%;
background-repeat:no-repeat;
background-color: #353131;

}

.opac:hover{
opacity:0.6;
}

a{
text-decoration:none;
color:black;
}

.indexBox{
background-color: rgba(81,80,80,0.3);
height:40%;
background-repeat:no-repeat;
background-position:center;
color: white;

}

.indexH1{
font-size:200%;
font-family:Sitka;
}

</style>
</head>

<body ng-app="MyPlanAbidjan" >

<div ng-controller="MainController" class="container">
<nav style="background-color:#353131;width:100%;height:15%;" class="">	
	<!-- Our logo pic -->
<img src="/images/logo2.png" style="position:block;margin-top:-4.5vw;margin-left:0.5vw" width="30%"/>
<a style="position:block;margin-top:-7vw;margin-left:35vw" ng-click="login()" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
<a style="position:block;margin-top:-7vw;margin-left:2vw" ng-click="signup()" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
<a style="position:block;margin-top:-7vw;margin-left:2vw" ng-click="facebooklogin()" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
</nav>	


	</br>	</br></br>

</br></br></br></br>
<!-- The icon boxes-->
<div class="row" style="margin-TOP:-4vw;" >					

<a href="restaurants" href="anchor">
<div class="col-sm-4 opac indexBox " 
style="background-image:url('../images/food2e.png');" >
<center><h1 class="indexH1">Nourriture</h1></center></div>
</a>

<a href="magasinsetsoins">
<div class="col-sm-4 opac indexBox " 
style="background-image:url('../images/shopIcon.png');
background-size:30%;">
<center><h1 class="indexH1">Shopping</h1></center></div></a>

<a href="fun">
<div class="col-sm-4 opac indexBox " 
style="background-image:url('../images/micro.png');
background-size:30%;">
<center><h1 class="indexH1">Fun et divers</h1></center></div>
</a>


<!-- Our angular view to load routes -->
<div ng-view class="col-sm-12"></div>	


</div>

</div>













</body>



</html>